@import "tailwindcss";

@theme {
  --color-primary-100: #F3E8FF;
  --color-primary-200: #E1C8FF;
  --color-primary-300: #CC9EFF;
  --color-primary-400: #B678FF;
  --color-primary-500: #A14EFF;
  --color-primary-600: #833BDC;
  --color-primary-700: #632EAA;
  --color-primary-800: #442077;
  --color-primary-900: #251144;

  --color-secondary-100: #E6FBFB;
  --color-secondary-200: #C0F6F6;
  --color-secondary-300: #98F1F1;
  --color-secondary-400: #6AE6E6;
  --color-secondary-500: #3EDCDC;
  --color-secondary-600: #2AB5B5;
  --color-secondary-700: #1F8A8A;
  --color-secondary-800: #155E5E;
  --color-secondary-900: #0B3333;
}

:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0C0824;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 320px;
  min-height: 600px;

  width: 320px;
  height: 600px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  cursor: pointer;
  font-family: 'Nunito', system-ui, sans-serif;
}
